body {
  background-color: rgb(120, 220, 245);
  font-size: 12px;
}

header {
  background-color:rbg(210,247,77);
  height: 40px;
  width: 100%;
}

header h1 {
  font-size: 1.7em;
  color: #000000;
  text-transform: uppercase;
  float: middle;
}

h2 {
  font-size: 3em;
  text-align: left;
  color: #000000;
}

h3 {
  font-size: 3em;
  text-align: left;
  color: #000000;
}

button {
  padding: 10px;
  margin-right: 10px;
  font-size: 20px;
}
