body {
  background-color: rgb(120, 220, 245);
  font-size: 6px;
  font-family: 'Times New Roman', Times, serif;
}

header {
  background-color: rbg(210,247,77);
  height: 40px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}

header h1.logo {
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  float: middle;
}

h2 {
  font-size: 3em;
  text-align: left;
  color: #000000;
}

h3 {
  font-size: 3em;
  text-align: left;
  color: #000000;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

button {
  padding: 10px;
  margin-right: 10px;
  font-size: 20px;
}
